:root {
  --red: #ff7171;
  --dark-red: #fb2222;
  --darker-red: #a01818;
  --light-red: #fbcdcd;
  --off-white: #f6f6f6;
  --navy-blue: #191d51;
  --light-blue: #e3e4fd;
}
html, body, #root, .App {
  padding: 0 5px;
  font-family:Cambria;
  background-color: var(--off-white);
  /* min-height: 100% !important; */
  min-height: auto !important;
  max-height: 100%;
  margin:0;
}

/* main page structure */
.container {
  border-color: var(--red) !important; 
  border-width: 1px !important;
  min-width: 420px;
  max-width: 1320px;
  padding: 0px;
  height: 100%;
  background-color: white;
} 

/* navbar */
.navbar{
  border-color: var(--red) !important;
  border-width: 1px !important;
  padding: 10px;
  position:relative;
}
#navbarNav .nav-item {
  padding: 0 5px;
}
#navbarDropdownMenuLink {
  margin-right:auto;
}
.userMenu .a {
  display:flex;
  align-items: center;
  position: absolute;
}
.userDropdown.nav-link{
  display:inline
}
.dropdown-menu {
  position: relative;
  top: 100%; /* Bottom of button */
}
.username.nav-link {
  margin-right:auto;
}
  /* navbar login btn */
#loginBtn {
  min-width: 95px;
  min-height: 49px;
}


/* button behavior */
.btn{
  box-shadow: none;
}
.btn:focus {
  box-shadow: 0 0 0 0.2rem var(--red) !important;
}
  /* red button */
.btn-primary {
  background-color: var(--red) !important;
  font-weight: bold;
  border:none;
}
  /* white button */
.btn-secondary {
  background-color: var(--off-white) !important;
  color:var(--red) !important; 
  border: 1px solid var(--red) !important;
  font-weight: bold;
}
  /* outline button */
/* .btn-outline-primary {
  color: var(--red);
  border-color:var(--red);
} */

#profile {
  height: 100%;
}



/* log in/sign in buttons */
#signInBtns {
  display: flex;
}


/* text input boxes */
.form-control {
  border-color: var(--red) !important;
}
.form-control:focus{
  box-shadow: 0 0 0 0.2rem var(--red);
}

/* search bar */
.d-flex .form-control { 
  border-radius: 6px 0 0 6px;
}
/* search button */
.d-flex .btn { 
  border-radius: 0 6px 6px 0;
  border-left: 0;
}


/* Login/Register Page */
.signInContainer .container-sm {
  max-width: 540px;
  margin-top: 100px;
  height: 100vh;
}
.signInContainer .container-sm h1{
  text-align: center;
  color: var(--darker-red);
  font-weight: bold;
}

/* banner */
#banner {
  background-color: var(--red);
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
}
/* #banner div {
  margin: 50px;
} */
#banner-avatar {
  border: 3px solid var(--navy-blue);
  border-radius: 100%;
  margin: 0 25px;
}
#banner-info {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow: hidden;
}
#user-name {
  font-weight: bold;
  color: var(--off-white);
  font-size: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#follow-btn {
  font-size: 1.25rem;
  width: 100px;
  background-color: var(--navy-blue) !important;
}

/* Post */
.post {
 width: 90%;
 border-color: var(--navy-blue) !important;
 margin: 30px 0;
}
.post-title {
  background-color: var(--darker-red) !important;
  color: var(--off-white);
  font-size: 2rem;
}
.post-content {
  border-bottom: 1px solid var(--navy-blue);
  font-size: 1.25rem;
}
.post-meta {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 20px;
}
.post-meta button {
  margin-right: 10px;
  border: none;
}
.post-save:hover {
  background-color: var(--navy-blue);
  color: white;
}
.post-edit:hover {
  background-color: green;
  color: white;
}
.post-delete:hover {
  background-color: var(--dark-red);
  color: white;
}
.post-info {
  margin-right: auto !important;
  font-weight: bold;
}

#show-posts{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#new-post {
  width: 90%;
  border-color: var(--navy-blue) !important;
  margin: 30px 0;
  display: flex;
  flex-direction: column;

}
#new-post-btn {
  border: 1px solid var(--navy-blue);
  background-color: var(--light-blue);
  font-weight: bold;
  border-radius: 50px;
  width: 10rem;
  align-self: end;
}